<div class="summary">
  <div class="title">World Report Summary</div>
  <div class="data-blocks-group">
    <div class="data-blocks">
      <div class="data-block-title">Total Confirmed Cases</div>
      <div class="data-block-value">{{data.TotalConfirmed}}</div>
    </div>
    <div class="data-blocks">
      <div class="data-block-title">Total Recovered</div>
      <div class="data-block-value">{{data.TotalRecovered}}</div>
    </div>
    <div class="data-blocks">
      <div class="data-block-title">Total Deaths</div>
      <div class="data-block-value">{{data.TotalDeaths}}</div>
    </div>
    <div class="data-blocks">
      <div class="data-block-title">New Confirmed Cases</div>
      <div class="data-block-value">{{data.NewConfirmed}}</div>
    </div>
    <div class="data-blocks">
      <div class="data-block-title">New Recovered Cases</div>
      <div class="data-block-value">{{data.NewRecovered}}</div>
    </div>
    <div class="data-blocks">
      <div class="data-block-title">New Deaths</div>
      <div class="data-block-value">{{data.NewDeaths}}</div>
    </div>
  </div>
</div>
