<app-header></app-header>

<div appColorChanger [bgColor]="'orange'" [txtColor]="'blue'">
  Directive DIV
</div>

<div appColorChanger [txtColor]="'red'">
Another directive
</div>

The data we received from the component: {{title}}

<div
  [style.color]="style1 == true ? 'blue' : 'white'"
  [style.background-color]="newStyle()"
  [style.border]="'1px solid black'">
  Some text
</div>

<button (click)="onClick($event)">Click me</button><br/>

<input type="text" [(ngModel)]="inputVal"/>

<ul *ngFor="let data of collectedData">
  <li>{{data}}</li>
</ul>


<div *ngIf="ngIfStatus; then thenBlock; else elseBlock">

</div>
<ng-template #thenBlock>
  So, the ngIfStatus variable is true
</ng-template>
<ng-template #elseBlock>
  This is the else block
</ng-template>

<router-outlet></router-outlet>
